@use '../../utils/variables' as var;

.content {
    :global {
        h4.ant-typography {
            font-weight: 500;
            margin-bottom: 0;
            line-height: 1.3;
        }
    }

    margin-bottom: 180px;
}

.wrapper {
    max-width: 752px;
}

.list {
    list-style-type: "— ";
    list-style-position: inside;
    padding: 0;
    margin-bottom: 0;

    font-weight: 400;
    font-size: 16px;
    color: #061178;
}

.title-card {
    font-weight: 500;
}

.card {
    text-align: center;
    width: 100%;
    :global {
        .ant-card {
            &-body {
                color: var.$primary-light-6;
            }
        }

        .ant-card-small {
            .ant-card-body {
                padding: 12px 0;
                .ant-btn {
                    color: var.$primary-light-6;
                }
            }
            .ant-card-head {
                padding: 0 24px;
                .ant-card-head-wrapper {
                    .ant-card-head-title {
                        font-size: 16px;
                        padding: 12px 0;
                        font-weight: 400;
                    }
                }
            }
        }

    }
}

.row {
    display: flex;
    gap: 16px
}

@media (max-width: 835px) {
    .content {
        margin-bottom: 260px;
    }

    .collapsed {
        margin-bottom: 385px;
    }

    .card {
        :global {
            .ant-card-small {
                .ant-card-head {
                    .ant-card-head-wrapper {
                        .ant-card-head-title {
                            white-space: normal;
                            word-break: break-word;
                            text-align: left;
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 361px) {
    .content {
        :global {
            .ant-card-body {
                padding: 16px;
            }
        }
    }

    .collapsed {
        margin-bottom: 24px;
    }

    .row {
        flex-direction: column;
    }

    .card {
        :global {
            .ant-card-small {
                .ant-card-head {
                    .ant-card-head-wrapper {
                        .ant-card-head-title {
                            text-align: center;
                        }
                    }
                }
            }
        }
    }
}
