@use '../../utils/variables' as var;

.sider {
    display: flex;
    flex-direction: column;
    height: auto;
    justify-content: space-between;
    position: fixed;

    :global {
        .ant-menu {
            .ant-menu-item {
                margin: 0;
                color: var.$character-light-1;

                &-icon {
                    color: var.$primary-light-9;
                }

                .anticon-calendar {
                    fill: #061178;
                }
            }

            .ant-menu-item:not(:last-child) {
                margin-bottom: 16px;
            }

        }

        .ant-layout-sider-children {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }
    }
}

.logo {
    margin-bottom: 50px;
    margin-top: 30px;
}

.trigger {
    position: absolute;
    right: 0;
    top: 50%;
    cursor: pointer;
    transform: translateX(100%) translateY(-25%);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 66px;
    clip-path: polygon(0% 0%,100% 12.121%,100% 87.879%,0% 100%,0% 0%);
    background: white;
    color: var.$neutral-gray-7;
}

.exit {
    border-top: 1px solid #f0f0f0;
}

@media (max-width: 361px) {
    .trigger {
        width: 32px;
        height: 48px;
        top: 48px;
        clip-path: polygon( 0% 0%,100% 12.121%,100% 87.879%,0% 100%,0% 0% );
    }

    .logo {
        margin: 0;
    }

    .sider {
        :global {
            .ant-menu {
                .ant-menu-item {
                    padding: 0;
                    .ant-menu-item-icon {
                        display: none;
                    }
                }

                .ant-menu-item:not(:last-child) {
                    margin-bottom: 8px;
                }
            }
        }
    }

}
