$primary-light-1: #F0F5FF;
$primary-light-6: #2F54EB;
$primary-light-9: #061178;
$character-light-1: #262626;
$character-light-secondary: #8C8C8C;
$character-light-title: #262626;
$neutral-gray-7: #8C8C8C;
