@use './utils/variables' as var;

:global {
    .ant-layout-header {
        height: auto;
        background-color: var.$primary-light-1;
        padding: 0;
        width: 100%;
    }

    .ant-list-grid .ant-col > .ant-list-item {
        margin-bottom: 0;
    }

    .ant-layout-footer {
        background: none;
        padding: 0;
        min-height: 283px;
    }

    .ant-card-actions > li:not(:last-child) {
        border-right: none;
    }

    .ant-layout-sider-trigger {
        height: auto;
    }

    .ant-layout-sider-has-trigger {
        padding-bottom: 0;
        padding-top: 30px;
    }
}

