@use './utils/variables' as var;

:global {
    .ant-layout {
        font-family: Inter, serif;
        line-height: 1.3;
        font-weight: 400;
    }

    .ant-layout-header {
        height: auto;
        background-color: var.$primary-light-1;
        padding: 0;
        width: 100%;
    }

    .ant-list-grid .ant-col > .ant-list-item {
        margin-bottom: 0;
    }

    .ant-layout-footer {
        background: none;
        padding: 0;
    }

    .ant-card-actions > li:not(:last-child) {
        border-right: none;
    }

    .ant-layout-sider-trigger {
        height: auto;
    }

    .ant-layout-sider-has-trigger {
        padding-bottom: 0;
        padding-top: 30px;
    }

    .ant-card {
        line-height: 1.3;
    }

    @media (max-width: 361px) {
        .ant-layout-sider {
            position: fixed;
            z-index: 1;
            height: 100vh;
        }
    }
}
